/**font-family: 'Roboto Slab', serif;**/

body {
    background-image: url(./Resources/happyan.jpg);
    margin: 0px 250px;
}

header {
    background-image: url(./Resources/images.jpg);
    text-align: center;
    color: beige;
    width: 75%;
    margin: 100px;
    margin-top: 10px;
}

#wishes {
    background-color: lightsalmon;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    text-align: center;
}

#g {
    width: 500px;
}

footer {
    background-color: springgreen;
    padding: 10px;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    text-align: center;
    margin:  0px 300px;
    margin-bottom: 25px;
}