/**font-family: 'Roboto Slab', serif;**/

body {
    background-image: url(https://www.google.com/search?q=pink+watercolor+background&rlz=1C1SQJL_enIN903IN903&tbm=isch&source=iu&ictx=1&fir=Ac72MIb7qHXYcM%253A%252CMKHxIMc6b5doLM%252C_&vet=1&usg=AI4_-kRPFPzGNPUu_vZ9iywgvlmCs7NE8A&sa=X&ved=2ahUKEwjV55f-7IPqAhUY7HMBHaTCAmgQ9QEwAXoECAkQMg&biw=1536&bih=722#imgrc=Ac72MIb7qHXYcM:);
    margin: 0px 250px;
}

header {
    background-image: url(./Resources/images.jpg);
    text-align: center;
    color: beige;
    width: 75%;
    margin: 100px;
    margin-top: 10px;
}

#wishes {
    background-color: lightsalmon;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    text-align: center;
}

#g {
    width: 500px;
}

footer {
    background-color: springgreen;
    padding: 10px;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    text-align: center;
    margin:  0px 300px;
    margin-bottom: 25px;
}
